# Copy this file to ".env" and fill in your own values.

# Port the Express server will run on
PORT=5000

# MongoDB connection string
# Local
# MONGO_URI=mongodb://127.0.0.1:27017/portfolio

# Atlas
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/portfolio?retryWrites=true&w=majority

# Environment mode: development | production
NODE_ENV=development
